<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJnlyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
  <meta id="bbafmabaelnnkondpfpjmdklbmfnbmol"><style data-styled="active" data-styled-version="5.3.10"></style>

  <script>
    window.onload = function() {
      window.location.href = "/oauth2/authorization/github";
    };
  </script>
</head>
<body cz-shortcut-listen="true">
<div class="container">
  <h2 class="form-signin-heading">Login with OAuth 2.0</h2>
</div>
<container id="my-app-container"><div style="position: absolute; top: 0px; z-index: 2147483647;"><div id="squareDiv" style="display: none;"></div><div></div></div></container>
</body>
</html>